#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.password-strength {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.password-strength p {
  color: white;
}
